<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>出现错误</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='layui/css/layui.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main/css/main.css') }}">
</head>
<body>
    <blockquote class="layui-elem-quote" style="font-size: 18px;">
        出现错误: {{ error_string }}
    </blockquote>
    <a href="javascript:history.back(-1)">
        <button type="button" class="layui-btn layui-btn-primary">
            返回上一页
        </button>
    </a>
<script>
    
</script>
</body>
</html>