<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>打卡状态</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='layui/css/layui.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main/css/main.css') }}">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
</head>
<body style="background-color: lightgrey;">
    <div class="layui-container">  
      <div class="layui-row">
        <div class="layui-col-md1" style="background-color: lightgrey; color: lightgrey;">
          XXX
        </div>
        <div class="layui-col-md10">
          <table class="layui-table">
            <colgroup>
              <col width="150">
              <col width="200">
              <col>
            </colgroup>
            <thead>
              <tr>
                <th>id</th>
                <th>name</th>
                <th>username</th>
                <th>password</th>
                <th>status</th>
              </tr> 
            </thead>
            <tbody>
              {% for item in data_list %}
              <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.data }}</td>
                <td>{{ item.username }}</td>
                <td>{{ item.password }}</td>
                <td>{{ item.status }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="layui-col-md1" style="background-color: lightgrey; color: lightgrey;">
          XXX
        </div>
      </div>
    </div>
    
    
    <script src="{{ url_for('static', filename='layui/layui.js') }}"></script>
    <script>
        //Demo
        layui.use('element', function(){
          var element = layui.element;

        });
        layui.use('form', function(){
          var form = layui.form;
          
          //监听提交
          form.on('submit(formDemo)', function(data){
            layer.msg(JSON.stringify(data.field));
            let username = data.field.username;
            let password = data.field.password;
            window.location = "/token/" + username + "/" + password;
            return false;
          });
        });
    </script>
</body>
</html>