<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>打卡状态</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='layui/css/layui.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main/css/main.css') }}">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
</head>
<body style="background-color: lightgrey;">
    <div class="layui-container">  
      <div class="layui-row">
        <div class="layui-col-md1" style="background-color: lightgrey; color: lightgrey;">
          -
        </div>
        <div class="layui-col-md10">
          <table class="layui-table">
            <colgroup>
              <col>
              <col>
              <col>
              <col>
            </colgroup>
            <thead>
              <tr>
                <th>名字</th>
                <th>电话</th>
                <th>今日打卡状态</th>
                <th>设备ID</th>
              </tr> 
            </thead>
            <tbody>
              {% for item in data_list %}
              <tr>
                <td>{{ item.data }}</td>
                <td>{{ item.username }}</td>
                <!-- 这里将status数值转换为文字 -->
                {% if item.status == '0' %}
                  <td>
                    <span class="layui-badge layui-bg-blue">等待打卡</span>
                  </td>
                {% elif item.status == '1' %}
                  <td>
                    <span class="layui-badge layui-bg-green">打卡成功</span>
                  </td>
                {% elif item.status == '2' %}
                  <td>
                    <span class="layui-badge layui-bg-gray">暂停打卡</span>
                  </td>
                {% elif item.status == '3' %}
                  <td>
                    <span class="layui-badge">打卡异常</span>
                  </td>
                {% else %}
                  <td>
                    <span class="layui-badge">打卡异常</span>
                  </td>
                {% endif %}
                <td>{{ item.deviceId }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="layui-col-md1" style="background-color: lightgrey; color: lightgrey;">
          -
        </div>
      </div>
    </div>
    
    
    <script src="{{ url_for('static', filename='layui/layui.js') }}"></script>
    <script>
        layui.use('element', function(){
          var element = layui.element;
        });
    </script>
</body>
</html>
