<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的数据</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='layui/css/layui.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main/css/main.css') }}">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
    <ul class="layui-nav" lay-filter="">
        <li class="layui-nav-item"><a href="/token/{{ user_data.username }}/{{ user_data.password }}">首页</a></li>
        <li class="layui-nav-item layui-this"><a href="">我的数据</a></li>
    </ul>
    <div style="margin-top: 20px"></div>
    <blockquote class="layui-elem-quote" style="font-size: 20px; color: red; font-weight: bold;">
      {{ declared_data.data }}
    </blockquote>
    <div style="margin-top: 20px"></div>
    <div style="font-size: 18px;">
      0 - 开启打卡(正常打卡)
      <br>
      1 - 已经打卡(正常打卡)
      <br>
      2 - 关闭打卡(2时不打卡)
      <br>
      3 - 打卡异常 (3时不打卡 说明有错误)
    </div>
    <br />
    在更新数据后 状态会调整为0
    <br />
    <button id="open_button" type="button" class="layui-btn layui-btn-primary">开启打卡</button>
    <button id="stop_button" type="button" class="layui-btn layui-btn-danger">关闭打卡</button>
    <table class="layui-table">
        <thead>
          <tr>
            <th>id</th>
            <th>账号</th>
            <th>密码</th>
            <th>状态</th>
            <th>设备ID</th>
          </tr> 
        </thead>
        <tbody>
          <tr>
            <td>{{ user_data.id }}</td>
            <td id="username">{{ user_data.username }}</td>
            <td id="password">{{ user_data.password }}</td>
            <td>{{ user_data.status }}</td>
            <td>{{ user_data.deviceId }}</td>>
          </tr>
        </tbody>
      </table>
      <div style="color: red; font-weight: bold; font-size: 20px;">
        扫描二维码可以每天8:15接到打卡报告:
	      <img style="width: 100%; height: auto;" src="{{ url_for('static', filename='showqrcode.png') }}" />
      </div>
<script>
  $("#open_button").click(function () {
    // /update/<username>/<password>/<status>
    let username = $("#username").text();
    let password = $("#password").text();
    window.location = "/update/" + username + "/" + password + "/" + "0";
  });
  $("#stop_button").click(function () {
    // /update/<username>/<password>/<status>
    let username = $("#username").text();
    let password = $("#password").text();
    window.location = "/update/" + username + "/" + password + "/" + "2";
  });
  $("#now_button").click(function () {
    // /update/<username>/<password>/<status>
    let username = $("#username").text();
    let password = $("#password").text();
    window.location = "/fuck_it/" + username + "/" + password;
  });
</script>
</body>
</html>
